.content {
  height: 2000px;
  background-color: ghostwhite;

}
.header-under {
  background-image: url('/../../assets/5.jpg');
  background-attachment: fixed;
  background-position: center -200px;
  background-size: cover;
  height: 8vh;



}
.space{
  height: 7vh;
  background-color: rgb(30,30, 30);
}


